${LOG_FILE_PATH} {
    ${LOGROTATE_FREQUENCY}
    rotate ${LOGROTATE_ROTATE_COUNT}
    size ${LOGROTATE_SIZE}
    su root root
    missingok
    notifempty
    dateext
    dateformat -%Y%m%d%H%M%S
    create 0644 root root
}
